DB_URL=jdbc:sqlserver://mssql:1433;databaseName=train_booking;encrypt=true;trustServerCertificate=true
DB_USERNAME=sa
DB_PASSWORD=Train@1234

MSSQL_SA_PASSWORD=Train@1234

#use same password for DB_PASSWORD and MSSQL_SA_PASSWORD
#use sa as DB_USERNAME